# CodBi-Dev Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

src/main/kotlin/com/github/xima_formcycle_entwicklerkreis/fc/plugin/codbi/logic/ @CallariS
src/main/web/packages/ @CallariS
